@inherits LayoutComponentBase

<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a href="/" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a href="/category" class="nav-link link-body-emphasis px-2">Category</a>
            </li>
        </ul>         
    </div>
</nav>

<div class="page container">    
    <div class="content w-100">
        @Body
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
