@page "/category/detail/{Id:int}"
@inject IExpenseApi expenseApi
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h1>
    @if (Category.Icon != null)
    {
        <i class="bi bi-@Category.Icon"></i>
    }
@Category.Name
</h1>
@if (Category.Color != null)
{
    <p class="mb-3" style="width:50px; height:50px; background-color:@Category.Color; border-radius: 5px;"></p>
}
<p>Total Expenses: @Category.CountExpenses</p>
<p>Balance: @Category.Balance</p>




<br />
<a class="btn btn-primary" href="/category">
    <i class="bi bi-arrow-left"></i> Back to Categories
</a>
<a class="btn btn-secondary" href="/category/edit/@Id">
    <i class="bi bi-pencil-square"></i> Edit Category
</a>

@code {
    [Parameter]
    public int Id { get; set; }

    CategoryListModel Category { get; set; } = new CategoryListModel();

    protected override async Task OnInitializedAsync()
    {
        Category = await expenseApi.GetCategoryAsync(Id);
        if (Category == null)
        {
            NavigationManager.NavigateTo("/category");
        }
    }
}
